# ==========================
# Données volumineuses
# ==========================
data/raw/
data/interim/
data/processed/

# ==========================
# Environnements virtuels
# ==========================
.venv/
venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Variables sensibles
# ==========================
.env

# ==========================
# MLflow
# ==========================
mlruns/
mlflow.db

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/
*-Copy*.ipynb

# ==========================
# Tests
# ==========================
.pytest_cache/

# ==========================
# macOS
# ==========================
.DS_Store